body{
    background-color: #D5D5D5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
   background-image: url(https://cdn.photoroom.com/v2/image-cache?path=gs://background-7ef44.appspot.com/backgrounds_v3/black/47_-_black.jpg);
}
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: white;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-shadow: 0px 15px 45px #858585; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image img{
    width:300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.image {
    display: flex;
    justify-content: center;

}